<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Siksha Mitra | Drowsiness Detection</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel='stylesheet'
              href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic'>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header class="header">
            <img width="300"
                 height="70"
                 class="logo"
                 src="{{ url_for('static', filename='images/logo.png') }}">
            <a class="cta" href="{{ url_for('detection') }}">
                <button>Get Started</button>
            </a>
        </header>
    
        <main class="main-content">
            <section class="slideshow">
                <div class="slideshow-inner">
                    <div class="slides">
                        <div class="slide is-active ">
                            <div class="slide-content">
                                <div class="caption">
                                    <div class="title">What we do?</div>
                                    <div class="text">
                                        <p>
                                            We help in preventing drowsiness taking over you
                                            <br>
                                            and consuming your precious time while you do your
                                            <br>
                                            important work.
                                            <br>
                                            In a way, we help you to be more efficient with your time.
                                        </p>
                                    </div>
                                    <a href="{{ url_for('detection') }}" class="btn">
                                        <span class="btn-inner">Let's dive into it</span>
                                    </a>
                                </div>
                            </div>
                            <div class="image-container">
                                <img src="{{ url_for('static', filename='images/img2.jpg') }}"
                                     alt=""
                                     class="image"/>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-content">
                                <div class="caption">
                                    <div class="title">What we offer?</div>
                                    <div class="text">
                                        <p>
                                            We will provide you with:
                                            <br>
                                            Some tips to avoid sleepiness,
                                            <br>
                                            Self-help tips to fight tiredness
                                            <br>
                                            And Some Motivational Quotes to help you going.
                                            <br>
                                        </p>
                                    </div>
                                    <a href="{{ url_for('detection') }}" class="btn">
                                        <span class="btn-inner">Try Now</span>
                                    </a>
                                </div>
                            </div>
                            <div class="image-container">
                                <img src="{{ url_for('static', filename='images/img5.jpg') }}"
                                     alt=""
                                     class="image"/>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="slide-content">
                                <div class="caption">
                                    <div class="title">Benefits</div>
                                    <div class="text">
                                        <p>
                                            Helps in acheiving your goals in much better way
                                            <br>
                                            Boost efficiency
                                            <br>
                                            Keeps you motivated
                                            <br>
                                            Say NO to Drowsiness
                                        </p>
                                    </div>
                                    <a href="{{ url_for('detection') }}" class="btn">
                                        <span class="btn-inner">Avail Benefits</span>
                                    </a>
                                </div>
                            </div>
                            <div class="image-container">
                                <img src="{{ url_for('static', filename='images/img4.jpg') }}"
                                     alt=""
                                     class="image"/>
                            </div>
                        </div>
                    </div>
                    <div class="pagination">
                        <div class="item is-active">
                            <span class="icon">1</span>
                        </div>
                        <div class="item">
                            <span class="icon">2</span>
                        </div>
                        <div class="item">
                            <span class="icon">3</span>
                        </div>
                    </div>
                    <div class="arrows">
                        <div class="arrow prev">
                            <span class="svg svg-arrow-left">
                                <svg version="1.1"
                                     id="svg4-Layer_1"
                                     xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     x="0px"
                                     y="0px"
                                     width="14px"
                                     height="26px"
                                     viewBox="0 0 14 26"
                                     enable-background="new 0 0 14 26"
                                     xml:space="preserve">
                                    <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/>
                                </svg>
                                <span class="alt sr-only"></span>
                            </span>
                        </div>
                        <div class="arrow next">
                            <span class="svg svg-arrow-right">
                                <svg version="1.1"
                                     id="svg5-Layer_1"
                                     xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     x="0px"
                                     y="0px"
                                     width="14px"
                                     height="26px"
                                     viewBox="0 0 14 26"
                                     enable-background="new 0 0 14 26"
                                     xml:space="preserve">
                                    <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/>
                                </svg>
                                <span class="alt sr-only"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
